<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
	<link rel="stylesheet" href="template/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="template/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="template/css/style.css" />
    <link rel="shortcut icon" href="template/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
          
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
          <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome Nexus dashboard!</h5> 
          
          <ul class="navbar-nav navbar-nav-right ml-auto">
          <li class="nav-item"><a href="#" class="nav-link"> <p th:text="${loggeduser.clientbusinessname}"> </p></a></li>
            <li class="nav-item"><a href="#" class="nav-link">bxcvcvcvcv</a></li>
                        
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">   
                   
            
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/NexusClient/pickuprequest" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Send Pickup Request</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              
            </li>
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/NexusClient/clientorder" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Add Order</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              
            </li>

          </ul>
        </nav>
        <!-- partial -->
         <div class="main-panel">
          <div class="content-wrapper">
         <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                   <h4 class="card-title">Pick up Request</h4>
                    <form class="form-sample" action="#" th:action="@{/Pickuprequest}"  th:object="${pickupdetails}" method="post">
                      <p class="card-description"> </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contact No</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" th:field="*{contactno}"  />
                            </div>
                          </div>
                        </div>
                      
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Vehicle Type</label>
                            <div class="col-sm-9">
                              <select class="form-control" th:field="*{vehicletype}"     >
                                <option th:value="C" value="C">Car</option>
                                <option th:value="V" value="V">Van</option>
                                <option th:value="T" value="T">Three wheeller</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        
                      </div>                    
                     
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pick up Time</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" th:field="*{pickuptime}"  />
                            </div>
                          </div>
                        </div>
                      
                      </div>                 
                    
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">No of Pickups</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" th:field="*{noofpickups}"  />
                            </div>
                          </div>
                        </div>                      
                      </div> 
                      <input type="submit" class="btn btn-primary mr-2" value="Send Pickup Request"/>
                      <button class="btn btn-light">Cancel</button>      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
</body>
</html>