<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
<link rel="stylesheet"
	href="template/vendors/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet"
	href="template/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet"
	href="template/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="template/css/style.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<script>
	$(document).ready(function() {

		$('input[type=radio][name=ratetype]').change(function() {

			//alert(this.value);
			var regid = $("#regid").val();
			//alert(regid);
			var ratetype = this.value;
			//alert(ratetype);
			$.ajax({
				url : "/NexusPortal/updateRateType",
				type : "get",
				data : {
					ratetype : ratetype,
					regid : regid
				},
				success : function(result) {

				}
			});

		});

	});
</script>

<link rel="shortcut icon" href="template/images/favicon.png" />
</head>
<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->
		<nav
			class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="navbar-brand-wrapper d-flex align-items-center"></div>
			<div
				class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
				<h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome
					Nexus dashboard!</h5>

				<ul class="navbar-nav navbar-nav-right ml-auto">
					<li class="nav-item"><a href="#" class="nav-link">
							<p></p>
					</a></li>
					<li class="nav-item"><a href="#" class="nav-link">bxcvcvcvcv</a></li>

				</ul>
			</div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:../../partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">



					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="/NexusClient/pickuprequest"
						aria-expanded="false" aria-controls="ui-basic"> <span
							class="menu-title">Send Pickup Request</span> <i
							class="icon-doc menu-icon"></i>
					</a></li>

					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="/NexusClient/clientorder"
						aria-expanded="false" aria-controls="ui-basic"> <span
							class="menu-title"> Add Order</span> <i
							class="icon-doc menu-icon"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="/NexusClient/Home"
						aria-expanded="false" aria-controls="ui-basic"> <span
							class="menu-title">Home</span> <i class="icon-doc menu-icon"></i>
					</a></li>

				</ul>
			</nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Add Order</h4>

									<p class="card-description"></p>


									<p class="card-description">Oder Details</p>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group row">

												<table class="center" style="width: 100%">
													<colgroup>
														<col span="1" style="width: 30%;">
														<col span="1" style="width: 70%;">

													</colgroup>
													<tr>
														<td>Full Name</td>
														<td th:text="${registerData.fullname_businessname}"></td>
													</tr>
													<tr>
														<td>System Name</td>
														<td th:text="${registerData.systemName}"></td>
													</tr>
													<tr>
														<td>Address</td>
														<td th:text="${registerData.address1}"></td>
													</tr>
													<tr>
														<td>E-mail</td>
														<td th:text="${registerData.emailaddress}"></td>
													</tr>
													<tr>
														<td>Pickup Branch</td>
														<td th:text="${registerData.pickupbranch}"></td>
													</tr>
													<tr>
														<td>Account Type</td>
														<td th:text="${registerData.accouttype}"></td>
													</tr>
													<tr>
														<td>Nic</td>
														<td th:text="${registerData.nic_drivinglicence}"></td>
													</tr>
													<tr>
														<td>Contact No</td>
														<td th:text="${registerData.contactno}"></td>
													</tr>
													<tr>
														<td>Businesss Registration No</td>
														<td th:text="${registerData.brno}"></td>
													</tr>
													<tr>
														<td>Contact person</td>
														<td th:text="${registerData.contactperson}"></td>
													</tr>
													<tr>
														<td>business Name</td>
														<td th:text="${registerData.businessName}"></td>
													</tr>
													<tr>
														<td>Bank Name</td>
														<td th:text="${registerData.bankName}"></td>
													</tr>
													<tr>
														<td>Bank Account Branch</td>
														<td th:text="${registerData.bankAccountBranch}"></td>
													</tr>
													<tr>
														<td>Account Holder Name</td>
														<td th:text="${registerData.accountHolderName}"></td>
													</tr>
													<tr>
														<td>bankAccountType</td>
														<td th:text="${registerData.bankAccountType}"></td>
													</tr>
													<tr>
														<td>Account No</td>
														<td th:text="${registerData.accountid}"></td>
													</tr>
													<tr>
														<td>Payment type</td>
														<td th:text="${registerData.payementtype}"></td>
													</tr>
													<tr>
														<td>contact person NIC</td>
														<td th:text="${registerData.contactpersonnic}"></td>
													</tr>
													<tr>
														<td>Select Payment Type</td>
														<td>
															<fieldset>
																<input type="radio" name="ratetype" th:value="d"
																	value="d"> Default <input type="radio"
																	name="ratetype" th:value="f" value="f"> Fixed
															</fieldset>
														</td>
													</tr>



												</table>
											</div>
										</div>

									</div>

									<table class="center" style="width: 100%">
										<colgroup>
											<col span="1" style="width: 50%;">
											<col span="1" style="width: 50%;">

										</colgroup>

										<tr>
											<td>Set Rate</td>
											<td></td>
										</tr>
										<tr>
											<td>
											
												<form class="form-sample" action="#" th:action="@{/SentLoggingRequest}"
													method="post">
													
													<input type="hidden" id="regid" name="regid"
														class="btn btn-primary mr-2" th:value="${registerData.id}" />
													<input type="submit" id="xyz" class="btn btn-primary mr-2"
														value="Sent Loging Request" />
																								

												</form>
											</td>
											<td>
												<form class="form-sample" action="#" th:action="@{/wwwww}"
													method="post">
													<input type="hidden" id="regid" name="regid"
														class="btn btn-primary mr-2" th:value="${registerData.id}" />
													<input type="submit" id="xyz" class="btn btn-danger mr-2"
														value="Reject" />

												</form>
											</td>
										</tr>
									</table>




								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->
				<footer class="footer">
					<div
						class="d-sm-flex justify-content-center justify-content-sm-between">
						<span
							class="text-muted d-block text-center text-sm-left d-sm-inline-block">
							dsd</span> <span
							class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
							Free <a
							href="https://www.bootstrapdash.com/bootstrap-admin-template/"
							target="_blank">Bootstrap admin templates</a> from
							Bootstrapdash.com
						</span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
</body>
</html>