<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="template/vendors/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet"
	href="template/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet"
	href="template/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="template/css/style.css">
<link rel="shortcut icon" href="template/images/favicon.png" />

<script src="loging/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
	$(document).ready(function() {
		$("#business").hide();
		$("#accouttype").change(function() {

			var acType = $(this).val();

			if (acType == 'B') {
				$("#business").show();
				$("#individual").hide();
			}
			if (acType == 'I') {
				$("#individual").show();
				$("#business").hide();
			}
		});

	});
</script>
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth">
				<div class="row flex-grow">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-left p-5">
							<div class="brand-logo">
								<img src="template/images/nexus.jpeg">
							</div>
							<h4>Registration</h4>
											<h6 class="font-weight-light">Registration is easy. It only
								takes a few steps</h6>
							<form action="#" th:action="@{/registerdetails}"
								th:object="${registerData}" method="post">
								<div th:if="${registerData.isregistersuccess == 'Y'}">
								<div class="alert alert-success" role="alert" >Activation Link sent to email. Please check. </div>
						
								</div>
								
								<div class="form-group">
									<label>Name in full</label> <input type="text"
										class="form-control form-control-lg"
										id="fullname_businessname" name="fullname_businessname"
										th:field="*{fullname_businessname}">
								</div>

								<div class="form-group">
									<label>Address</label>
									<textarea class="form-control" id="address1" rows="4"
										name="address1" th:field="*{address1}"></textarea>

								</div>
								<div class="form-group">
									<label>Web Store</label> <input type="text"
										class="form-control form-control-lg" id="address2"
										name="address2" th:field="*{webstore}">
								</div>
								<div class="form-group">
									<label>Nearet City</label> <select
										class="js-example-basic-single" style="width: 100%" th:field="*{city}">
										<option value="AL" th:value="A">Alabama</option>
										<option value="WY" th:value="B">Wyoming</option>
										<option value="AM" th:value="C">America</option>
										<option value="CA" th:value="D" >Canada</option>
										<option value="RU" th:value="E">Russia</option>
									</select>
								</div>
								<div class="form-group">
									<label>Branch</label> <select class="js-example-basic-single"
										style="width: 100%" th:field="*{pickupbranch}" >
										<option value="AL" th:value="A">Alabama</option>
										<option value="WY" th:value="B">Wyoming</option>
										<option value="AM" th:value="C">America</option>
										<option value="CA" th:value="D" >Canada</option>
										<option value="RU" th:value="E">Russia</option>
									</select>
								</div>
								<div class="form-group">
									<label>E-mail</label> <input type="email"
										class="form-control form-control-lg" id="emailaddress"
										name="emailaddress" th:field="*{emailaddress}">
								</div>
								<div class="form-group">
									<label>Phone Number</label>
									<input type="text"
										class="form-control form-control-lg" id="address2"
										name="address2" th:field="*{contactno}">

								</div>
								<div class="form-group">
									<label>Client referential</label> <select class="js-example-basic-single"
										style="width: 100%" th:field="*{clientreferential}" >
										<option value="AL" th:value="C">Alabama</option>
										<option value="WY" th:value="C1" >Wyoming</option>
										<option value="AM" th:value="C2" >America</option>
										<option value="CA" th:value="C3" >Canada</option>
										<option value="RU" th:value="C4" >Russia</option>
									</select>
								</div>
								<div></div>
								<div class="mt-3">
									<input type="submit"
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										value="Next >>> " />
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
</body>
</html>