<ul class="nav">



					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="/NexusPortal/pendigregister"
						aria-expanded="false" aria-controls="ui-basic"> <span
							class="menu-title">Pending Register</span> <i
							class="icon-doc menu-icon"></i>
					</a></li>

					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="/NexusPortal/clientorder"
						aria-expanded="false" aria-controls="ui-basic"> <span
							class="menu-title">Add order</span> <i class="icon-doc menu-icon"></i>
					</a></li>

				</ul>