<!-- <nav class="sidebar sidebar-offcanvas" id="sidebar"> -->  
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
          <ul class="nav" th:fragment="xyx">   
                   
            
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/NexusClient/pickuprequest" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Send Pickup Request</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              
            </li>
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/NexusClient/clientorder" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Add order</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              
            </li>

			<li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/NexusClient/Home" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Home</span>
                <i class="icon-doc menu-icon"></i>
              </a>              
            </li>
          </ul>
          
          </body>
</html>
 <!-- </nav>-->      