<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="template/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="template/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="template/css/style.css" >
    <link rel="shortcut icon" href="template/images/favicon.png" />
    
    <script src="loging/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script>
	$(document).ready(function() {
		$("#business").hide();
		$("#accouttype").change(function() {

			var acType = $(this).val();

			if (acType == 'B') {
				$("#business").show();
				$("#individual").hide();
			}
			if (acType == 'I') {
				$("#individual").show();
				$("#business").hide();
			}
		});

	});
</script>
</head>
<body>
<div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../../images/logo.svg">
                </div>
                <h4>Bussiness Information 222</h4>
               
                <form action="#" th:action="@{/registerdetails2}" th:object="${registerData}" method="post">
               
               <div class="form-group">
                  <label>Account Type </label>
                 <select class="form-control form-control-sm" id="accouttype" name="accouttype" th:field="*{accouttype}">
							<option value="I" th:value="I">Individual</option>
							<option value="B" th:value="B">Bussiness</option>
					</select>
					 
                  </div>
                 <div id="individual">
                   <div class="form-group">
                  <label>System Name</label>
                    <input type="text" class="form-control form-control-lg" id="systemName" name="systemName" th:field="*{systemName}" >
                  </div>
                   <div class="form-group">
                  <label>NIC Drving Licence</label>
                    <input type="text" class="form-control form-control-lg" id="nic_drivinglicence" name="nic_drivinglicence" th:field="*{nic_drivinglicence}" >
                  </div>
                   <div class="form-group">
                  <label>NIC/ Driving License File </label>
                    <input type="file" class="form-control form-control-lg" id="nic_drivinglicenceFile" name="nic_drivinglicenceFile" >
                  </div>
                   <div class="form-group">
                  <label>Contact No</label>
                    <input type="text" class="form-control form-control-lg"  id="contactno"	th:field="*{contactno}" name="contactno" >
                  </div>
                 </div> 
                 
                 <div id="business">
                <div class="form-group">
                  <label>Business Name</label>
                    <input type="text" class="form-control form-control-lg" id="businessName" name="businessName" th:field="*{businessName}" >
                  </div>
                  <div class="form-group">
                  <label>Business Registration No</label>
                    <input type="text" class="form-control form-control-lg" id="brno" name="brno" th:field="*{brno}" >
                  </div>
                  <div class="form-group">
                  <label>Business Registration File </label>
                    <input type="file" class="form-control form-control-lg"  >
                  </div>
                  
                  <div class="form-group">
                  <label>Contact Person</label>
                    <input type="text" class="form-control form-control-lg"  id="contactperson"	th:field="*{contactperson}" name="contactperson" >
                  </div>
                  <div class="form-group">
                  <label>Contact No</label>
                    <input type="text" class="form-control form-control-lg"  id="contactno"	th:field="*{contactno}" name="contactno" >
                  </div>
                  
                 </div>
                  <div class="mb-4">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> I agree to all Terms & Conditions </label>
                    </div>
                  </div>
                  <div class="mt-3">
                    
                    <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Submit"/>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Already have an account <a href="login.html" class="text-primary">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
</body>
</html>